.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Outfit', sans-serif;
    
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    font-size: 15px;
}
.qr-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%) ;
    width: 20rem;
    border-radius: 15px;
    min-width: 324px; 
}
@media(max-width:375px){
    .qr-container{
        height: 75%;
    }
}
.qr-image{
    text-align: center;
    margin: auto;
}
.qr-image img{
    margin-top: 1rem;
    width: 89%;
    border-radius: 17px;
}
.font-container{
    text-align: center;
    padding: auto 1.5rem;
    margin-bottom: 1.5rem;
}
.qr-font{
    margin: 1rem auto;
    line-height: 1.2;
}
.qr-font-bold{
    color: hsl(218, 44%, 22%) ;
    font-weight: 700;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}
.qr-font-bold h1{
    font-size: 1.1rem;
    line-height: 1.6;
}
.qr-font-light{
    text-align: center;
    color: hsl(220, 15%, 55%) ;
    padding: 0 1.7rem;
}
